/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 92px 50px 96px 50px;
  box-sizing: border-box;
}

.header__logo {
  width: 138px;
  height: 106px;
  display: block;
  position: relative;
  padding: 0;
}

.header__menu {
  grid-column: 2;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
}

.header__links-list {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  padding: 0;
}

.header_circle.container{
  align-items: center;
  padding-left: 3px;
}

.header_address {
  justify-self: center;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  padding: 0 18.5px 3px;
  line-height: 24.3px;
  max-width: 240px;
  max-height: 98px;
}

.info {
  max-height: 49px;
  text-decoration: underline;
  color: #000;
  text-underline-offset: 4px;
}

.address {
  max-height: 49px;
  padding-top: 1.5px;
  font-style: normal;
}

.ul {
  padding-left: 0;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 165px 50px 50px 50px;
  color: #fff;
  min-height: 757px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.cover-title {
  font-size: 100px;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  margin-bottom: 20px;
  gap: 20px;
}

.aligned-text {
  display: block;
  text-align: start;
}

.aligned-text_center {
  display: block;
  text-align: center; 
  padding-top: 20px;
}

.aligned-text_right {
  display: block;
  text-align: end;
  padding-left: 600px; 
  padding-top: 20px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  z-index: 1;
  position: relative;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
}

.cover__description-text {
  padding-top: 106px;
  word-spacing: 16px;
}

.bet-button {
  border: 1px solid #fff;
  background-color: transparent;
  height: 51px;
  width: 256px;
  color: #fff;
}

.bet-button-right {
  left: 744px;
  bottom: 41px;
}

.lots-section {
  padding: 180px 20px 120px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 30px;
  margin-bottom: 27px;
}

.lots {
  padding-top: 27px; /*не работает*/
}

.lots__card-list {
  margin: 0;          
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.lots__card-list-item {
  margin: 0;
  padding: 0;
  min-height: 596px;
  width: 334px;
  position: relative;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  z-index: 0;
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  z-index: 0;
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  z-index: 0;
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
}

.card__title {
  text-align: left;
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  text-decoration: underline;
  position: absolute;
  padding-top: 48px;
  left: 40px;
  right: 40px;
}

.card__text {
  font-size: 20px;
  color: #fff;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 2;
  bottom: 0;
  position: absolute;
}

.lots__look-more-link {
  padding-top: 30px;
  padding-left: 40px;
  border: none; 
  text-decoration: underline; 
  background-color: transparent;
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
}

.about {
  padding-top: 120px;
}
.about__column {
  display: grid;
  grid-template-columns: 334px 1fr; /* Три столбца равной ширины */
  padding-left: 24px;
  padding-right: 24px;
  column-gap: 25px;
  row-gap: 24px;
  grid-row: 595px;
}

.about__logo {
  width: 240px; 
  height: 250px; 
  border-radius: 50%; 
  background-color: #000; 
  justify-self: center; 
  align-self: center;
  z-index: 0;
}

.about__logo-image {
  background-image: url(../images/logo-white.svg);
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 148px;
  height: 114px;
  justify-self: center;
  margin-top: 64px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  align-self: center;
}

.about__text {
  grid-column: 2;
  font-size: 20px;
}

.footer {
  margin-top: 180px;
  height: 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.address {
  grid-column: 1;
  justify-self: left;
}

.footer__menu {
  grid-column: 2;
  justify-self: center;
  list-style-type: none;
}

.footer__menu-list {
  font-size: 18px;
  text-align: center;
  
}

.footer__menu-list-item {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  padding: 0;
}

.footer__menu-link {
  
}

.footer__menu-link_active {

}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}